@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: none;
}

body {
  background-color: rgb(155, 101, 158);
  display: grid;
  place-content: center;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  font-size: 2rem;
  font-weight: bold;
}

.container {
  height: 80vh;
  width: 50vh;
  background-color: rgb(24, 24, 24);
  border-radius: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 9px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 9px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 9px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
}

.screen {
  grid-column: 1 / -1;
  color: white;
  text-align: right;
  padding: 0.5rem;
  font-size: 4rem;
  overflow: hidden;
}

.btn {
  display: grid;
  place-content: center;
  background-color: rgb(56, 42, 66);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.btn:hover {
  background-color: gray;
}

.light-gray {
  background-color: rgb(157, 155, 155);
  color: rgb(31, 3, 11);
}

.light-gray:hover {
  background-color: white;
}

.pink {
  background-color: rgb(235, 136, 218);
}

.pink:hover {
  background-color: white;
  color: rgb(75, 12, 64);
}

.zero {
  grid-column: 1 / span 2;
  border-radius: 25px;
  place-content: unset;
  align-items: center;
  padding-left: 2rem;
}
.equal {
  background-color: rgb(174, 222, 15);
  border-radius: 30%;
}
.equal:hover {
  background-color: rgb(95, 219, 228);
  color: black;
}

p {
  padding-top: 25px;
  font-size: 12px;
  color: rgb(211, 232, 231);
}
